{% extends 'base.html' %}
{% block title %}My Files{% endblock %}

{% block content %}
<h4 class="mb-4">📁 My Files</h4>

{% if files %}
  <div class="table-responsive">
    <form method="get" class="mb-3 d-flex" role="search">
      <input type="text" name="q" value="{{ query }}" class="form-control me-2" style="width:60%;"  placeholder="Search by name, folder, or category">
      <button class="btn btn-outline-primary">Search</button>
    </form>
    <table class="table table-striped table-bordered align-middle">
      <thead class="table-light">
        <tr>
          <th>Name</th>
          <th>Folder</th>
          <th>Category</th>
          <th>Uploaded</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr>
          <td>{{ file.name|default:file.file.name|cut:"documents/" }}</td>
          <td>
            {% if file.folder %}
              {{ file.folder.name }}
            {% else %}
              — 
            {% endif %}
          </td>
          <td>
            {% if file.folder %}
              {{ file.folder.category.name }}
            {% else %}
              — 
            {% endif %}
          </td>
          
          <td>{{ file.uploaded_at|date:"M d, Y H:i" }}</td>
          <td>
            <a href="{% url 'smart_preview' file.id  %}" class="btn btn-sm btn-outline-primary">View</a>
            <a href="{{ file.file.url }}" class="btn btn-sm btn-outline-secondary" download>Download</a>
            <a href="{% url 'integrity_history' file.id %}" class="btn btn-sm btn-outline-dark">Integrity Log</a>
            <a href="{% url 'upload_new_version' file.id %}" class="btn btn-sm btn-outline-warning">Upload Version</a>
            <a href="{% url 'document_versions' file.id %}" class="btn btn-sm btn-outline-info">Versions</a>
            <a href="{% url 'access_log' file.id %}" class="btn btn-sm btn-outline-dark">Access Log</a>
            <form method="POST" action="{% url 'delete_file' file.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-outline-danger"
                        onclick="return confirm('Are you sure you want to delete this file?');">
                  Delete
                </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p class="text-muted">You haven’t uploaded any files yet.</p>
{% endif %}
{% endblock %}
